export TF_VAR_project_name="exam-sim"
export TF_VAR_region="ap-northeast-1"
export TF_VAR_cognito_domain_prefix="exam-sim"
export TF_VAR_callback_urls='["http://localhost:3000"]'
export TF_VAR_logout_urls='["http://localhost:3000"]'

export AWS_PROFILE=exam-sim
export AWS_REGION=ap-northeast-1